.full-width {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 16px;
}

mat-dialog-content {
  min-width: 500px;
  padding: 20px;
  overflow: visible;
}

mat-dialog-actions {
  padding: 16px 24px;
}

[matPrefix] {
  margin-right: 4px;
}
