# Database Configuration
DATABASE_URL=postgresql://user:password@db:5432/property_management
DB_NAME=property_management
DB_USER=user
DB_PASSWORD=password
DB_HOST=db
DB_PORT=5432

# Application Configuration
PORT=5001
FLASK_ENV=development
